:root {
}

#header {
  height: max(20vh, 12rem);
  aspect-ratio: 12 / 5;
  container-type: size;
  position: relative;
  margin: 1vh auto min(10cqh, 3.5rem);
}

#cup {
  position: absolute;
  left: 0;
  height: 100cqh;
  aspect-ratio: 2105 / 1778;
}

#sign {
  position: absolute;
  top: 32cqh;
  left: 24cqw;
  height: 100cqh;
  aspect-ratio: 392 / 223;

  @media (width <= 420px) {
    & {
      left: 4cqw;
    }
  }
}
