button.full {
  width: 100%;
}

main#edit {
  width: 100%;

  & ul {
    list-style: none;
    padding-inline-start: 0;

    & li {
      margin-block: 0.5rem;
    }
  }

  & [role="tab"][aria-selected="true"] {
    background-color: #f5f5f577;
  }

  & [role="tablist"] {
    display: flex;
    border-bottom: none;

    & > [role="tab"] {
      flex-grow: 1;
      text-align: center;
      border: 1px solid white;
      border-style: solid solid none solid;
      border-radius: 1rem 1rem 0 0;
    }
  }

  & label {
    display: flex;

    & h3 {
      margin-block: 0.25rem;
    }

    & h3:after {
      content: ": ";
    }

    & input {
      flex-grow: 1;
      height: auto;
    }
  }

  & #maxes {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 0rem;
    place-items: center;

    & label > *:first-child {
      text-align: right;
    }

    & input {
      width: 5rem;
      text-align: center;
    }

    & .net-submit {
      width: max-content;
      margin-block: 0rem;
    }

    & .max, & label {
      display: contents;
    }
  }
}